.circle {
        background: #ca2c2c;
        border-radius: 50%;
        color: black;
        display: table;
        height: 100px;
        font-weight: bold;
        font-size: 1.2em;
        width: auto;
        margin: 0 auto;
    }
    .circle span {
        display: table-cell;
        vertical-align: middle;
        height: 100px;
        width: 100px;
        text-align: center;
        padding: 0 1px;
        color:#ffffff;
    }
    .dashboard-container {
        margin-top: 10%;
    }