<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="../../assets/images/card_photo.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Subject Area 1</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. </p>
            <p class="card-text"><a href="#">
                <button class="btn btn-primary">Read More...</button>
            </a></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/images/card_photo.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Subject Area 2</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. </p>
            <p class="card-text"><a href="#">
                <button class="btn btn-primary">Read More...</button>
            </a></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/images/card_photo.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Subject Area 3</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. </p>
            <p class="card-text"><a href="#">
                <button class="btn btn-primary">Read More...</button>
            </a></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/images/card_photo.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Subject Area 4</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. </p>
            <p class="card-text"><a href="#">
                <button class="btn btn-primary">Read More...</button>
            </a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="pagelist">Page List</a>
    </div>
</div>