
<div class="container-fluid">
    <div class="page-content">
        <div class="alert alert-dismissible fade show" role="alert" [class]="alertMessage.alertClass"
        *ngIf="alertMessage.show">
        <button type="button" class="close" (click)="closeMessage()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ alertMessage.message }}
    </div>
    
    <div *ngFor="let firefighter of firefighters | async">
        <h3> {{firefighter | json}}</h3>
    </div>
    
    <!-- <div class="row">
        <div class="col-md-1">‰
            <sidebar></sidebar>
        </div> -->
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
        <!-- </div> -->
    </div>
    